@import "tailwindcss";

@theme {
  --color-primary: #9333ea; /* Roxo estilo Kahoot */
  --color-secondary: #facc15; /* Amarelo */
  --color-danger: #ef4444; /* Vermelho */
  --color-success: #22c55e; /* Verde */
}
